body {
    background: rgb(131,58,180);
    height: 120vh;
}
.navbar {
    background-color: hsla(304, 89%, 14%, 0.726);
    backdrop-filter: blur(5px);
}

.carousel-item {
    max-height: 100svh;
}
/*small screens*/
@media (width<575.9px) {
    .carousel-indicators {
        position:absolute;
        bottom: 6vh;
    }
    .carousel-item img {
        max-height: 100svh;
    }
    .navbar {
        background-color: hsla(304, 89%, 14%, 0.849);
        backdrop-filter: blur(5px);
    }
    .logo-overlay {
        width:60vw;
    }
}
.navbar-brand {
    max-width: 15vw;
}
.logo-overlay {
    z-index: 100000;
    width: 15vw;
}