* {
    overflow: visible;
}

body {
    background: #FAEACE;
    height: auto;
    width: 100%;
}
p>a {
    color: #03689e;
    text-decoration: none;
    font-weight: normal;
}
.section {
    /*box-shadow: 0 3px 30px #58000079;*/
}
.bright-orange {
    background-color: #f77f00;
}
.sticky-nav {
    background-color: #d62828b9;
    backdrop-filter: blur(5px);
    width: 100%;
    z-index: 100020;
}
.carousel-item {
    max-height: 100svh;
}
.carousel-caption {
    bottom: 10%;
    background-color: #0e254459;
    backdrop-filter: blur(1px);
}
/* medium and up screens */
@media (width>576px) {
    .sticky-nav {
        position: fixed;
        top:0px;
    }
}
/*small screens*/
@media (width<575.9px) {
    .carousel-indicators {
        position:absolute;
        bottom: 6vh;
    }
    .carousel-caption {
        position:absolute;
        bottom: 50%;
        transform: translateY(50%);
    }
    .carousel-item img {
        max-height: 100svh;
    }
    .sticky-nav {
        backdrop-filter: blur(15px);
        position: fixed;
        bottom:0;
    }

    .logo-overlay {
        width:60vw;
    }
    .navbar-toggler {
        margin: auto;
    }
}
.navbar-brand {
    max-width: 18vh;
}
.logo-overlay {
    z-index: 100000;
    width: 15vw;
}
.logo-box {
    background-color: #00355259;
    backdrop-filter: blur(2px);
}
.navbar {
--bs-navbar-toggler-focus-width:0;
}
.card {
    background-color: unset;
    border: none;
}